<section class="w-100 mx-auto rounded shadow bg-main-light p-3 mb-5" *ngIf="cartDetails">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="h2">Shop Cart</h1>
        <button (click)="removeCart()" class="btn  btn-danger">Remove All</button>
    </div>
    
    <p class="text-main">
        Total Price:{{cartDetails.totalCartPrice |currency: "EGP "}}
    </p>
    <div *ngFor="let item of cartDetails.products" class="row border-bottom py-2" >
<div class="col-md-1" >
    <img class="w-100" [src]="item.product.imageCover" [alt]="item.product.title">
</div>
<div class="col-md-11 d-flex justify-content-between align-items-center ">
    <div>
        <h3 class="h6">{{item.product.title}}</h3>
        <p class="text-main small mb-0">
            Price:{{item.price |currency:"EGP "}}

        </p>
        <button class="btn m-0 p-0 text-main" (click)="removeItem(item.product._id,removebtn)"  #removebtn>
            <i class="fas fa-trash-can"></i> Remove
        </button>
    </div>
    <div>
        <button #countbtn1 (click)="Updatecartquantity(item.product._id,item.count-1,countbtn1,countbtn2)" class="btn btn-sm btn-success">-</button>
        <span > {{ item.count }} </span>
        <button #countbtn2 (click)="Updatecartquantity(item.product._id,item.count+1,countbtn1,countbtn2)"class="btn btn-sm btn-success">+</button>
    </div>
</div>
    </div>

    <button class="main-btn mt-3"  [routerLink]="['/payment',cartDetails._id]"> Online Payment <img src="./assets/images/visa.svg" alt="visa logo"></button>
</section>

<div  *ngIf="empty" class="mt-4">
    <h2 class="text-center">Your Cart Is Empty.....</h2>
</div>
