<section class="w-50 mx-auto rounded bg-main-light p-3 shadow mt-5" *ngIf="step1" >
    <form action="" [formGroup]="forgetForm" (ngSubmit)="forgotpassword()">
        <label for="email" class="fw-bold">Email:</label>
        <input type="email" class="form-control mt-2" id="email" formControlName="email">
        <button class="main-btn w-100 mt-3">Forgot Password</button>
    </form>
</section>

<section class="w-50 mx-auto rounded bg-main-light p-3 shadow mt-5" *ngIf="step2">
    <form action="" [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
        <label for="resetCode" class="fw-bold">Reset Code:</label>
        <input type="text" class="form-control mt-2" id="resetCode" formControlName="resetCode">
        <button class="main-btn w-100 mt-3">Reset Code</button>
    </form>
</section>


<section class="w-50 mx-auto rounded bg-main-light p-3 shadow mt-5" *ngIf="step3">
    <form action="" [formGroup]="resetPasword" (ngSubmit)="newPassword()">
        <label for="newpassword" class="fw-bold">New Password</label>
        <input type="password" class="form-control mt-2" id="newpassword" formControlName="newPassword">
        <button class="main-btn w-100 mt-3">Submit</button>
    </form>
</section>
