<!-- main slider -->
<section class="py-3">


  <div class="row g-0">
    <div class="col-md-9">
      <owl-carousel-o [options]="mainSliderOptions">
        <ng-template carouselSlide>
          <img src="./assets/images/main-slider-1.jpeg" alt="slider1" height="400">
        </ng-template>  
        <ng-template carouselSlide>
          <img src="./assets/images/main-slider-2.jpeg" alt="slider2"height="400">
        </ng-template>
        <ng-template carouselSlide>
          <img src="./assets/images/main-slider-3.jpeg" alt="slider3"height="400">
        </ng-template>
          
      </owl-carousel-o>

    </div>
    <div class="col-md-3">
      <img src="./assets/images/slide-1.jpeg" alt="" class="w-100" height="200">
      <img src="./assets/images/slide-2.jpeg" alt="" class="w-100" height="200">
    </div>

  </div>
</section>


<!-- category -->
<section *ngIf="catgories.length>0">
  <h2 class="py-3">Popular Categories</h2>
  <owl-carousel-o [options]="categoryOptions">

    <ng-container *ngFor="let catgory of catgories">
      <ng-template carouselSlide >
        <img [src]="catgory.image" height="300"  >
        <h6 class="text-main py-2">{{catgory.name}}</h6>
      </ng-template>
    </ng-container>

  </owl-carousel-o>
</section>


<!-- products -->
<section class="py-4" *ngIf="products.length>0">
    <h2 class="py-4">Popular Products</h2>
    <input type="text" class="form-control w-50 mx-auto form-control-sm my-3" placeholder="Search...." [(ngModel)]="term">
    <div class="row g-4">
      <div *ngFor="let product of products |search:term |slice : 0 : 18" class="col-sm-6 col-md-4 col-lg-3 col-xl-2" >
        <div class="product h-100">
          <i class="fa-regular fa-heart heart" #whisbtn role="button" (click)="addToWishlist(product._id,whisbtn)"></i>

          <header role="button" [routerLink]="['/productdetails',product._id]">
            <img class="w-100"  [src]="product.imageCover" [title]="product.title" [alt]="product.title"/>
            <h3 class="small py-2">{{ product.title |cuttext:3}}</h3>
            <h6 class=" text-main">{{ product.category.name }}</h6> 
            <div class="d-flex align-items-center justify-content-between small">
              <span class="">{{product.price |currency:'EGP'}}</span>
              <div>
                <i class="fas fa-star rating-color"></i>
                <span class="text-muted">{{product.ratingsAverage}} </span>
              </div>
            </div>
          </header>
         
            <footer class="text-center py-3">
              <button class="main-btn w-100" (click)="addProduct(product._id,btnAdd)" #btnAdd>+Add To Cart</button>
            </footer>
        </div>
      </div>
    </div>
  </section>